{% extends 'partials/base.html' %}
{% block title %} Order Page {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

{% include 'partials/topnav.html' %}
<!--Table-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">Product</th>
                            <th scope="col">Category</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Order by</th>
                            <th scope="col">Date</th>
                            <th scope="col">GO</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for orders in orders %}
                        <tr>
                            <td>{{ orders.product }}</td>
                            <td>{{ orders.product.category }}</td>
                            <td>{{ orders.order_quantity }}</td>
                            <td>{{ orders.staff.username }}</td>
                            <td>{{ orders.date }}</td>
                            <td>
                                {% if not orders.confirmed %}
                                    <a class="btn btn-success btn-sm" href="{% url 'confirm-order' orders.id %}">Confirm</a>
                                {% else %}
                                    <p>Done</p>
                                {% endif %}
                            </td>
                            <td>
                                <a class="btn btn-danger btn-sm" href="{% url 'delete-order' orders.id %}">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <form method="post" action="{% url 'update-iva-rate' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Change IVA Rate</button>
                </form>
            </div>
        </div>
    </div>
<!--End Table-->
{% endblock %}