{% extends 'partials/base.html' %}
{% block title %} Product Staff Page {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

{% include 'partials/topnav_staff.html' %}
    <!--Table-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.category }}</td>
                            <td>{{ item.quantity }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<!--End Table-->
{% endblock %}